{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mt-4">🟢 Онлайн фойдаланувчилар</h2>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Фойдаланувчи</th>
            <th>Охирги фаоллиги</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.last_active }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
